{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Create Event</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/create-event">
            <!-- name -->
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="event-name" placeholder="EVENT NAME" autofocus="">
                </div>
            </div>

            <!-- Town -->
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="town-name" placeholder="TOWN" autofocus="">
                </div>
            </div>

            <!-- State -->
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" style="text-transform:uppercase" name="state-name" placeholder="STATE" autofocus="" >
                </div>
            </div>

            <!-- country -->
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="country-name" placeholder="COUNTRY" autofocus="">
                </div>
            </div>

            <!-- Zipcode -->
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="zipcodeNum" placeholder="ZIP CODE" autofocus="">
                </div>
            </div>




            <!-- severity level -->
            <div class="field">
                <div class="control">
                    <select class="input is-large"  name="severity-level"  autofocus="">
                        <option value="" disabled selected>Severity Level</option>
                        <option value="priority1">Priority 1</option>
                        <option value="priority2">Priority 2</option>
                        <option value="priority3">Priority 3</option>
                        <option value="priority4">Priority 4</option>
                        <option value="priority5">Priority 5</option>
                    </select>
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth create-event">Enter</button>
        </form>
    </div>
</div>
{% endblock %}