
{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Delete Item</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
    <form method="POST" action="/delete-item">

            <!-- item -->
            <select class="input is-large" name="itemVal" autofocus="">
                        {% for item in items %}
                            <option id={{ item }}>{{ item }}</option>
                        {% endfor %}
            </select>


            <button class="button is-block is-info is-large is-fullwidth delete_item">Enter</button>
            <p>
                <a href="/admin-home">Admin Home</a>
            </p>
        </form>
    </div>


</div>
{% endblock %}