{% extends 'base_merged.html' %}
{% block title %} Donor {% endblock %}

{% block content %}

<div class="container">
  <h1> DONOR PAGE </h1>
</div>

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    The current events that need assistance!
  </a>
  {% for event in events %}
    <a href="#" class="list-group-item list-group-item-action">{{event}}</a>
  {% endfor %}
</div>


<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    Requested items for the Event
  </a>
  {% for item in itemList %}
    <a href="#" class="list-group-item list-group-item-action">{{item}}</a>
  {% endfor %}
</div>

{% endblock %}