{% extends 'base.html'%}
{% block title %} Login {% endblock %}
{% block content %}


<div class="container">
  	<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>WTF BRO!</strong> {{ error_statement }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
     </button>
</div>

  	
 
<form action="{{ url_for('login.verifying_user_type') }}" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email", name = 'email'>
    <small id="emailHelp" class="form-text text-muted">Your email is your username by default.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password", name='password'>
  </div>
  <div class="form-group form-check">
    <label class="form-check-label" for="exampleCheck1">Forgot Password
	</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}

