
{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Match Donor and Recipients</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/match-requests">

            <!-- request --><!--
            <select class="input is-large" name="requestVal" autofocus="">
                        {% for req in requests %}
                            {% for item in items %}
                                {% for event in events %}
                                    {% if event.eventID == req.eventID %}
                                        {% if item.id == req.itemID %}
                                        --><!-- eventName - itemName - quantity --><!--
                                        <option value={{ req.requestID }}>{{ event.event_name }} - {{ item.itemName }}: {{ req.quantity }}</option>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
            </select>
-->
            </b>

            <!-- donor -->
            <select class="input is-large" name="donorVal" autofocus="">
                        {% for don in donors %}
                            {% for item in items %}
                                {% if item.id == don.itemID %}
                                    <!-- itemName - quantity -->
                                    <option value={{ don.donorID }}>{{ item.itemName }}: {{ don.quantity }}</option>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
            </select>

            <button class="button is-block is-info is-large is-fullwidth create_item">Match</button>
            <p>
                <a href="/admin-home">Admin Home</a>
            </p>
        </form>
    </div>
</div>
{% endblock %}