{% extends 'base.html' %}
{% block title %} Recipient {% endblock %}

{% block content %}

    <div class="container">
        <h1 class="title sign-up-title">Recipient Page </h1>
        <form method="POST" action="/request" enctype="application/x-www-form-urlencoded">
            <!-- Event -->
            <div class="field">
                <div class="control">
                    <select class="input is-large" name="event" autofocus="">
                        {% for event in events %}
                            <option value={{ event.eventID }}>{{ event.event_name }}
                                - {{ event.town }}, {{ event.state }} {{ event.country }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Items Table -->

            <div class="field">
                <div class="control">
                    <select class="input is-large" name="item">
                        {% for item in items %}
                            <option value={{ item.id }}>{{ item.itemName }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" name="quantity" type="number">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth" name="link">Link Items</button>
        </form>
    </div>

{% endblock %}