{% extends 'base.html' %}
{% block title %} Recipient {% endblock %}

{% block content %}

    <div class="container">
        <h1 class="title sign-up-title">Recipient Page </h1>
        <form method="POST" action="/request" enctype="application/x-www-form-urlencoded">
            <!-- Event -->
            <div class="field">
                <div class="control">
                    <select class="input is-large" name="event" autofocus="">
                        {% for event in events %}
                            <option id={{ event.eventName }}>{{ event.event_name }}
                                - {{ event.town }}, {{ event.state }} {{ event.country }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Items Table -->
            <center>
                <div class="field">
                    <table>
                        <thead>
                            <tr>
                                {% for category in table_dict.keys() %}
                                    {% if table_dict[category] != [] %}
                                        <th>{{ category.capitalize() }}</th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(0,max_items) %}
                                <tr>
                                    {% if table_dict['food'] != [] %}
                                        <td id={{ table_dict['food'][i] }}>
                                            {% if table_dict['food']|length > i %}
                                                {{ table_dict['food'][i] }}
                                                <label id="hello-world">
                                                    <input name={{ table_dict['food'][i].lower() }} value=0 type="number">
                                                </label>
                                            {% endif %}
                                        </td>
                                    {% endif %}

                                    {% if table_dict['utilities'] != [] %}
                                        <td id={{ table_dict['utilities'][i] }}>
                                            {% if table_dict['utilities']|length > i %}
                                                {{ table_dict['utilities'][i] }}
                                                <label>
                                                    <input name={{ table_dict['utilities'][i].lower() }} value=0 type="number">
                                                </label>
                                            {% endif %}
                                        </td>
                                    {% endif %}

                                    {% if table_dict['vaccine'] != [] %}
                                        <td id={{ table_dict['vaccine'][i] }}>
                                            {% if table_dict['vaccine']|length > i %}
                                                {{ table_dict['vaccine'][i] }}
                                                <label>
                                                    <input name={{ table_dict['vaccine'][i].lower() }} value=0 type="number">
                                                </label>
                                            {% endif %}
                                        </td>
                                    {% endif %}

                                    {% if table_dict['clothing'] != [] %}
                                        <td id={{ table_dict['clothing'][i] }}>
                                            {% if table_dict['clothing']|length > i %}
                                                {{ table_dict['clothing'][i] }}
                                                <label>
                                                    <input name={{ table_dict['clothing'][i].lower() }} value=0 type="number">
                                                </label>
                                            {% endif %}
                                        </td>
                                    {% endif %}

                                    {% if table_dict['money'] != [] %}
                                        <td id={{ table_dict['money'][i] }}>
                                            {% if table_dict['money']|length > i %}
                                                {{ table_dict['money'][i] }}
                                                <label>
                                                    <input name={{ table_dict['money'][i].lower() }} value=0 type="number">
                                                </label>
                                            {% endif %}
                                        </td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </center>

            <button class="button is-block is-info is-large is-fullwidth" name="link">Link Items</button>
        </form>
    </div>

{% endblock %}